<p id="notice"><%= notice %></p>

<h1><%= @device.uid %> - Readings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Datetime</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @readings.each do |reading| %>
      <tr>
        <td><%= reading.datetime %></td>
        <td><%= reading.data %></td>
        <td><%= link_to 'Show', device_reading_path(@device, reading) %></td>
        <td><%= link_to 'Edit', edit_device_reading_path(@device, reading) %></td>
        <td><%= link_to 'Destroy', device_reading_path(@device, reading), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reading', new_device_reading_path %>
